@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-montserrat), Arial, sans-serif;
  --font-serif: var(--font-montserrat), Arial, sans-serif;
  --font-mono: var(--font-montserrat), Arial, sans-serif;
}
